@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: $color-dark;
}

button {
    

&.desactive:hover {
    background: $color-light;
    border: 1px solid $color-warning;
    border-radius: $radius;
    color: $color-warning;
    margin: 0;
    }   

&.active:hover {
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    border-radius: $radius;
    color: lighten($color-dark, 45%);
    margin: 0;
    }       

&.desactive{
    background: $color-light;
    color: lighten($color-dark, 45%);
    border: 1px solid $color-light;
    margin: 0;
}

&.active {
    opacity: 1;
    background: $color-light;
    color: $color-warning;
    border: 1px solid $color-light;
    margin: 0;
  }
}